body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: 
    color: 
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
 background: 
    padding: 15px 50px;
    color:white ;
    gap: 50px;
    box-shadow: 0 2px 6px rgba(159, 27, 27, 0.2);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
 color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    text-decoration: underline;
    color: 
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box {
    padding: 8px;
    border: 1px solid 
    border-radius: 8px;
    font-size: 14px;
    background: 
    color: 
}

.login-btn {
    background: 
    color: 
    padding: 8px 15px;
    border: 1px solid 
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background: 
}

.container {
    width: 50%;
    margin: 30px auto;
    background: 
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(159, 27, 27, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
    color: 
}

input,
textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid 
    border-radius: 8px;
    font-size: 16px;
    background-color: 
    color: 
    transition: border 0.2s ease;
}

input:focus,
textarea:focus {
    border-color: 
    outline: none;
}

.preview {
    text-align: center;
    margin: 20px 0;
}

.preview img {
    width: 150px;
    height: auto;
    display: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(159, 27, 27, 0.1);
}

.save-btn,
.reset-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.save-btn {
    background: 
    color: white;
}

.save-btn:hover {
    background: 
}

.reset-btn {
    background: 
    color: white;
}

.reset-btn:hover {
    background: 
}
